/* Stile für die Neuseelandreise */

body {
    background-color: silver;
}

main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
}

article {
    padding: 1em;
}

article p {
    text-align: justify;
}
